<!DOCTYPE html>
<head>
	<title>Notes</title>
	<link rel = "stylesheet" href="css/main.css">
</head>
<body>

<h2>Notes</h2>

<form action="/notes" formmethod="post">
  Title<br>
  <input type="text" name="title">
  <br>
  Message:<br>
  <input type="text" name="message">
  <br><br>
  <input type="submit" formmethod="post" value="Submit">
</form> 
<script>

</script>
</body>
</html>
<html>
